**/__pycache__/
**/__pycache__/*
GLIGEN/run.sh
GLIGEN/run_2.sh
GLIGEN/gligen_inference.py
*.jpg
*.pkl
GLIGEN/layout
GLIGEN/layout/*
GLIGEN/visual
GLIGEN/visual/*
CLIP
CLIP/*
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2/*
GLIGEN/README.md
GLIGEN/__pycache__/*
GLIGEN/__pycache__
GLIGEN/size.txt
