**/__pycache__/
**/__pycache__/*
run.sh
run_2.sh
gligen_inference.py
*.jpg
*.pkl
Glayout
layout/*
visual
visual/*
CLIP
CLIP/*
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2
data_evaluate_LLM/eval_metrics/detection/UniDet-master/detectron2/*
__pycache__/*
__pycache__
size.txt
